{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="g-notice-content {{ particle.class|e }}">
		{% if particle.title %}<h2 class="g-notice-content-title">{{ particle.title|raw }}</h2>{% endif %}
		{% if particle.subtitle %}<div class="g-notice-content-subtitle">
			{{ particle.subtitle|raw }}
		</div>
		{% endif %}
		{% if particle.readmore %}<a href="{{ particle.link|raw }}" class="button button-2">{{ particle.readmore|raw }}</a>{% endif %}
	</div>
{% endblock %}